.dashboard{
    
    margin-top: 150px;
    
}

.dashboard_btn_2{
    width: 200px;
    cursor: pointer;
    padding: 10px 5px;
    border-radius: 5px;
    background-color: var(--purple);
    color: white;
    border: none;
    margin-right: 5px;
    margin-bottom: 30px;
}

.components_1{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 20px;
    padding: 0px 20px;
}
.components_1_radio{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}