


/* 
.page404 .link2{
    margin: 5px;
    color: black;
    display: inline-block;
    width: fit-content;

    text-align: center;
}
.link2 span:nth-child(2){
    position: relative;
    
    
    transform: translate(0%, 32%);
} */