.dropdown_container{
    max-width: 200px;
}

.dropdown_button{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    width: 100%;
    box-shadow: 0px 0px 2px 0px gray;
    border-radius: 5px;
    cursor: pointer;
}
.dropdown_button div{
    text-overflow: ellipsis;
    position: relative;
    color: rgb(41, 40, 40);
    white-space: nowrap;
    overflow: hidden;
    
}

.downArrow{
    transform: rotate(0deg);
    transition: transform, 0.1s ease;
}
.rotate.downArrow{
    transform: rotate(-180deg);
}
.dropdown_options{
    position: absolute;
    margin-top: 10px;
    background-color: white;
    visibility: hidden;
    z-index: 2;
    opacity: 0;
    box-shadow: 0px 2px 7px 1px rgb(158, 157, 157);
    border-radius: 5px;
    width: 200px;
    transform:translateY(-9px);
    transition: all 0.1s ease;
}
.open_dropdown.dropdown_options{
    visibility: visible;
    
    opacity: 1;
    transform:translateY(0px);
}
.dropdown_options p{
    /* background-color: white; */
    font-size: 16px;
    cursor: pointer;
    color: rgb(85, 85, 85);
    letter-spacing: 0.5px;
    padding: 10px 10px;
}
.dropdown_options p:hover{
    background-color: rgb(243, 244, 246);
}

