.modal_container{
    visibility: hidden;
    display: flex;
    opacity: 0;
    align-items: center;
    left: 0;
    top: 0;
    z-index: 10;
    overflow: hidden;
    
    justify-content: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(134, 139, 150, 0.911);
    padding: 20px 30px;
    transition: all 0.1s ease;
}
.open_modal.modal_container{
    opacity: 1;
    visibility: visible;
}
.modal{
    padding: 20px 20px;
    text-align: center;
    border-radius: 10px;
    width: 600px;
    box-shadow: 0px 0px 20px 2px gray;
    background-color: white;
}
.modal_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 15px;
}
.modal_content div{
    width: 100%;
}
.modal svg{
    padding: 10px 10px;
    border-radius: 50%;
    background-color: rgb(226, 251, 233);
}
.modal p{
    color: gray;
}
.modal_content button{
    width: 48%;
    padding: 10px 5px;
    border-radius: 5px;
    cursor: pointer;
}
.modal .btn_1{
    background-color: white;
    border: 0.5px solid gray;
    margin-right: 5px;
}
.modal .btn_2{
    background-color: rgb(78,70,220);
    color: white;
    border: none;
    margin-left: 5px;
}
.modal .btn_3{
    background-color: rgb(78,70,220);
    color: white;
    border: none;
    width: 100%;
}