.radio2_container{
    width: 300px;
    padding: 20px 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 0.5px solid gray;
    border-radius: 10px;
}

.radio2_container h3{
    font-weight: 500;
    font-size: 20px;
}
.radio2_container p{
    color: gray;
    margin-bottom: 10px;
}

.radio2_input{
    position: relative;
    accent-color: var(--purple);

    border: 0px;
    width: 1.5em;
    height: 1.5em;
    
}
.radio2_button label{
    cursor: pointer;
    padding: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

