.stats{
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #121826;
    padding: 70px 10px;
    text-align: center;
}
.stats h1, .stats h2{
    color: white;
    
}
.stats_para{
    color: #b3b6bc;
    margin: 20px 0px;
}
.stats_container{
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
    
    justify-content: center;
    gap: 4px;
}
.stats_container div{
    background-color: #1e2431;
    width: calc();
    text-align: center;
    width: 300px;
    padding: 25px 40px;
}
.stats_container p{
    color: #b3b6bc;
    font-size: 13px;
    letter-spacing: 1px;
    
}